/*============RESET===============*/
* { margin: 0; padding: 0; font-size: 100%; border: none;outline: none; font-weight: 300;box-sizing: border-box;font-family: 'Lato', sans-serif;}
body { background-color: #e6ffee;}
a {text-decoration: none}
ul {list-style: none}
img {max-width: 100%}
/*========= CONTAINER ============*/
.container {width: 100%; float: left; padding: 3% 4%; text-align: center;}

/*CABEÇALHO*/
.cabecalho {padding-top: 10px; background:#ffffff;margin-top: auto;position: fixed}
.logo {width: 100px; height: 56px; float: left; background: url(../imagens/T4iT%20Link.png)  center center/100px no-repeat;font-size:0;}
.btn-menu {width: 56px; height: 56px; float: right; text-align: center; color: #fff; border-radius:56px; cursor: pointer; background:#009933 ;}

/*MENU*/
.menu {display: none; width: 100%; height: 100%; position: fixed; background-color: black;opacity:0.9; top: 0; left: 0;  }
.btn-close {font-size: 1.5em; color: #fff; float: right; cursor: pointer;margin: 2% 3% 0 0;}
.menu ul {width: 100%; float: left; text-align: center}
.menu li {padding: 1.5%; }
.menu li a {font: 4em; color: #009933; padding: 1.5% 3%;}
.menu li a:hover {border: 3px solid #009933 }

/* BANNER */
.banner {
background:url(../imagens/home-office-336378_1920.jpg);
background-size:cover ;
margin-top: 20px;
background-repeat: no-repeat;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 20px;
}

.banner h2 { font-size: 3.5em; color: #fff; font-weight: 700; margin-top:auto;}
.banner h3 {font-size: 1.5em; color: #fff;}
.buttons {width: 100%; margin-top: 3%;}
.buttons i {float: right;}
.btn-sobre {width: 5em; font-size: 1em; text-align: left; cursor: pointer; padding:2%; margin: 2%; border-radius: 6px;background-color: #009933; color: #fff; text-align: center; margin-top: 3%;}
/*RODAPÉ*/
.rodape {background: black;}
.social-icons a {font-size: 1.5em; color: rgba(255, 255,255, 0.5); margin-right: 3%;}
.social-icons a:last-child{margin-right: 0;}
.social-icons a:hover {color: rgba(255, 255,255);}
.copyright {margin-top: 2%; color: rgba(255,255,255);}

/* SERVIÇOS */

.servicos {width: 100%; float: left; padding: 3% 4%;}
.servico {width: 100%; background-color: #fff; text-align: left; border-radius: 7px; margin-bottom: 3%;}
.servico img {border-radius: 7px 7px 0 0; margin-bottom: 3%;}
.inner {padding: 7%}
.inner a {font-size: 1.5em; color: #130400; font-weight: 700;}
.inner h4 {font-size: 1.2em;color: #130400; margin-top: 2%;}
.inner p {margin-top: 6%;color: #130400;line-height: 1.5em;}

/*========= MOBILE FIRST ============*/
/*SMARTPHONES*/


@media screen and (mim-width: 480px){
    .title {width: 70%; float: left; text-align: left;}
    .tile h2 {font-size: 4em;}
    .tile h2 {font-size: 3em;}
    
}
/*TABLETS*/
@media screen and (min-width: 768px){
.servico {width: 49%; float: left; margin-right: 2%;}
.servico:nth-child(2) {margin-right: 0;}
 .title {width: 70%; float: left; text-align: left;}
    .tile h2 {font-size: 10em;}
    .tile h2 {font-size: 9em;}
}
/*DESKTOP*/
@media screen and (min-width: 960px){
    .title {width: 70%; float: left; text-align: left;}
    .tile h2 {font-size: 3em;}
    .tile h2 {font-size: 2em;}
    .buttons {width: 30%; float: right; margin-top: 0;}
    .btn-menu {display: none;}
    .btn-close {display: none;}
    .menu {width: auto;height: 56px; line-height: 56px;float: right;background-color:#fff; display: block;position: static;}
    .menu li {padding: 0; float: left;}
    .menu li a {color: #130400; font-size: 1em; padding: 15px;}
    .menu li a:hover {border: none; color: #da6709;}
}
/*LARGE DEVICES*/
@media screen and (min-width: 1280px){
    
    
}